################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StateDashbord.API/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/StateDashbord.API/obj/Debug/net8.0/StateDashbord.API.AssemblyInfo.cs
/StateDashbord.API/obj/Debug/net8.0/StateDashbord.API.AssemblyInfo.cs
/StateDashbord.API/obj/Debug/net8.0/StateDashbord.API.AssemblyInfoInputs.cache
/StateDashbord.API/obj/Debug/net8.0/StateDashbord.API.assets.cache
/StateDashbord.API/obj/Debug/net8.0/StateDashbord.API.csproj.AssemblyReference.cache
/StateDashbord.API/obj/Debug/net8.0/StateDashbord.API.GeneratedMSBuildEditorConfig.editorconfig
/StateDashbord.API/obj/project.assets.json
/StateDashbord.API/obj/project.nuget.cache
/StateDashbord.API/obj/StateDashbord.API.csproj.nuget.dgspec.json
*.cs
/StateDashbord.Application/obj/Debug/net8.0/StateDashbord.Application.AssemblyInfo.cs
*.cache
*.BuildWithSkipAnalyzers
/StateDashbord.Application/obj/Debug/net8.0/StateDashbord.Application.csproj.FileListAbsolute.txt
/StateDashbord.Application/obj/Debug/net8.0/StateDashbord.Application.dll
/StateDashbord.Application/obj/Debug/net8.0/StateDashbord.Application.GeneratedMSBuildEditorConfig.editorconfig
/StateDashbord.Application/obj/Debug/net8.0/StateDashbord.Application.pdb
/StateDashbord.API/obj/Debug/net8.0/StateDashbord.API.AssemblyInfo.cs
/StateDashbord.API/obj/Debug/net8.0/StateDashbord.API.AssemblyInfoInputs.cache
/StateDashbord.API/obj/Debug/net8.0/StateDashbord.API.assets.cache
/StateDashbord.API/obj/Debug/net8.0/StateDashbord.API.csproj.AssemblyReference.cache
/StateDashbord.API/obj/Debug/net8.0/StateDashbord.API.GeneratedMSBuildEditorConfig.editorconfig
/StateDashbord.API/obj/project.assets.json
/StateDashbord.API/obj/project.nuget.cache
/StateDashbord.API/obj/StateDashbord.API.csproj.nuget.dgspec.json
/StateDashbord.Application/obj/Debug/net8.0/StateDashbord.Application.AssemblyInfo.cs
/StateDashbord.Application/obj/project.assets.json
/StateDashbord.Application/obj/StateDashbord.Application.csproj.nuget.dgspec.json
/StateDashbord.Application/obj/StateDashbord.Application.csproj.nuget.g.props
/StateDashbord.Application/obj/StateDashbord.Application.csproj.nuget.g.targets
/StateDashbord.Application/StateDashbord.Application.csproj
/StateDashbord.Domain/obj/Debug/net8.0/StateDashbord.Domain.AssemblyInfo.cs
/StateDashbord.Domain/obj/Debug/net8.0/StateDashbord.Domain.AssemblyInfoInputs.cache
/StateDashbord.Domain/obj/Debug/net8.0/StateDashbord.Domain.assets.cache
/StateDashbord.Domain/obj/Debug/net8.0/StateDashbord.Domain.GeneratedMSBuildEditorConfig.editorconfig
/StateDashbord.Domain/obj/project.assets.json
/StateDashbord.Domain/obj/project.nuget.cache
/StateDashbord.Domain/obj/StateDashbord.Domain.csproj.nuget.dgspec.json
/StateDashbord.Infrastructure/obj/Debug/net8.0/StateDashbord.Infrastructure.AssemblyInfo.cs
/StateDashbord.Infrastructure/obj/Debug/net8.0/StateDashbord.Infrastructure.AssemblyInfoInputs.cache
/StateDashbord.Infrastructure/obj/Debug/net8.0/StateDashbord.Infrastructure.assets.cache
/StateDashbord.Infrastructure/obj/Debug/net8.0/StateDashbord.Infrastructure.csproj.AssemblyReference.cache
/StateDashbord.Infrastructure/obj/Debug/net8.0/StateDashbord.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/StateDashbord.Infrastructure/obj/project.assets.json
/StateDashbord.Infrastructure/obj/project.nuget.cache
/StateDashbord.Infrastructure/obj/StateDashbord.Infrastructure.csproj.nuget.dgspec.json
/StateDashbord.API/bin/Debug/net8.0/StateDashbord.API.dll
/StateDashbord.API/bin/Debug/net8.0/StateDashbord.API.exe
/StateDashbord.API/bin/Debug/net8.0/StateDashbord.API.pdb
/StateDashbord.API/bin/Debug/net8.0/StateDashbord.Application.dll
/StateDashbord.API/bin/Debug/net8.0/StateDashbord.Application.pdb
/StateDashbord.API/bin/Debug/net8.0/StateDashbord.Domain.dll
/StateDashbord.API/bin/Debug/net8.0/StateDashbord.Domain.pdb
/StateDashbord.API/bin/Debug/net8.0/StateDashbord.Infrastructure.dll
/StateDashbord.API/bin/Debug/net8.0/StateDashbord.Infrastructure.pdb
/StateDashbord.API/obj/Debug/net8.0/EndpointInfo/StateDashbord.API.json
/StateDashbord.API/obj/Debug/net8.0/ref/StateDashbord.API.dll
/StateDashbord.API/obj/Debug/net8.0/refint/StateDashbord.API.dll
/StateDashbord.API/obj/Debug/net8.0/ApiEndpoints.json
/StateDashbord.API/obj/Debug/net8.0/apphost.exe
/StateDashbord.API/obj/Debug/net8.0/StateDashbord.API.dll
/StateDashbord.API/obj/Debug/net8.0/StateDashbord.API.pdb
/StateDashbord.API/obj/Debug/net8.0/StateDashbord.API.sourcelink.json
/StateDashbord.Application/bin/Debug/net8.0/StateDashbord.Application.dll
/StateDashbord.Application/bin/Debug/net8.0/StateDashbord.Application.pdb
/StateDashbord.Application/bin/Debug/net8.0/StateDashbord.Domain.dll
/StateDashbord.Application/bin/Debug/net8.0/StateDashbord.Domain.pdb
/StateDashbord.Application/obj/Debug/net8.0/ref/StateDashbord.Application.dll
/StateDashbord.Application/obj/Debug/net8.0/refint/StateDashbord.Application.dll
/StateDashbord.Application/obj/Debug/net8.0/StateDashbord.Application.sourcelink.json
/StateDashbord.Domain/bin/Debug/net8.0/StateDashbord.Domain.dll
/StateDashbord.Domain/bin/Debug/net8.0/StateDashbord.Domain.pdb
/StateDashbord.Domain/obj/Debug/net8.0/ref/StateDashbord.Domain.dll
/StateDashbord.Domain/obj/Debug/net8.0/refint/StateDashbord.Domain.dll
/StateDashbord.Domain/obj/Debug/net8.0/StateDashbord.Domain.csproj.CoreCompileInputs.cache
/StateDashbord.Domain/obj/Debug/net8.0/StateDashbord.Domain.dll
/StateDashbord.Domain/obj/Debug/net8.0/StateDashbord.Domain.pdb
/StateDashbord.Domain/obj/Debug/net8.0/StateDashbord.Domain.sourcelink.json
/StateDashbord.Infrastructure/bin/Debug/net8.0/StateDashbord.Application.dll
/StateDashbord.Infrastructure/bin/Debug/net8.0/StateDashbord.Application.pdb
/StateDashbord.Infrastructure/bin/Debug/net8.0/StateDashbord.Domain.dll
/StateDashbord.Infrastructure/bin/Debug/net8.0/StateDashbord.Domain.pdb
/StateDashbord.Infrastructure/bin/Debug/net8.0/StateDashbord.Infrastructure.dll
/StateDashbord.Infrastructure/bin/Debug/net8.0/StateDashbord.Infrastructure.pdb
/StateDashbord.Infrastructure/obj/Debug/net8.0/refint/StateDashbord.Infrastructure.dll
/StateDashbord.Infrastructure/obj/Debug/net8.0/ref/StateDashbord.Infrastructure.dll
/StateDashbord.Infrastructure/obj/Debug/net8.0/StateDashbord.Infrastructure.dll
/StateDashbord.Infrastructure/obj/Debug/net8.0/StateDashbord.Infrastructure.pdb
/StateDashbord.Infrastructure/obj/Debug/net8.0/StateDashbord.Infrastructure.sourcelink.json
/StateDashbord.API/bin/Debug/net8.0/appsettings.json
/StateDashbord.API/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/StateDashbord.API/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/StateDashbord.API/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/StateDashbord.API/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/StateDashbord.API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/StateDashbord.API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/StateDashbord.API/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/StateDashbord.API/bin/Debug/net8.0/StateDashbord.API.deps.json
/StateDashbord.API/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/StateDashbord.Application/bin/Debug/net8.0/StateDashbord.Application.deps.json
/StateDashbord.Domain/obj/Debug/net8.0/StateDashbord.Domain.csproj.FileListAbsolute.txt
/StateDashbord.Domain/obj/StateDashbord.Domain.csproj.nuget.g.props
/StateDashbord.Infrastructure/bin/Debug/net8.0/StateDashbord.Infrastructure.deps.json
/StateDashbord.Infrastructure/obj/Debug/net8.0/StateDashbord.Infrastructure.csproj.CoreCompileInputs.cache
/StateDashbord.Infrastructure/obj/Debug/net8.0/StateDashbord.Infrastructure.csproj.FileListAbsolute.txt
/StateDashbord.Infrastructure/obj/StateDashbord.Infrastructure.csproj.nuget.g.props
/StateDashbord.API/obj/Debug/net8.0/StateDashbord.API.csproj.CoreCompileInputs.cache
/StateDashbord.API/obj/Debug/net8.0/StateDashbord.API.csproj.FileListAbsolute.txt
/StateDashbord.API/obj/Debug/net8.0/StateDashbord.API.genruntimeconfig.cache
/StateDashbord.API/obj/StateDashbord.API.csproj.nuget.g.props
/StateDashbord.API/bin/Release/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
/StateDashbord.API/bin/Release/net8.0/runtimes/win/lib/net8.0/System.Windows.Extensions.dll
/StateDashbord.API/bin/Release/net8.0/runtimes/win-x64/native/comerr64.dll
/StateDashbord.API/bin/Release/net8.0/runtimes/win-x64/native/gssapi64.dll
/StateDashbord.API/bin/Release/net8.0/runtimes/win-x64/native/k5sprt64.dll
/StateDashbord.API/bin/Release/net8.0/runtimes/win-x64/native/krb5_64.dll
/StateDashbord.API/bin/Release/net8.0/runtimes/win-x64/native/krbcc64.dll
/StateDashbord.API/bin/Release/net8.0/appsettings.Development.json
/StateDashbord.API/bin/Release/net8.0/appsettings.json
/StateDashbord.API/bin/Release/net8.0/BouncyCastle.Cryptography.dll
/StateDashbord.API/bin/Release/net8.0/Dapper.dll
/StateDashbord.API/bin/Release/net8.0/Google.Protobuf.dll
